{% extends 'logn/Student_template/base_template.html' %}
{% block page_title %}
<h1 style="color:blue;"><b>HOME</b>
  <h1>
    {% endblock page_title %}
    {% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3 style="color:rgb(6, 6, 14);">{{ total_attendance }}</h3>

                <p><B style="color:rgb(6, 6, 14);">TOTAL ATTENDANCE</B></p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="{% url 'student_view_attendance' %}" class="small-box-footer">More info <i
                  class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3 style="color:rgb(6, 6, 14);">{{ attendance_absent }}</h3>

                <p><B style="color:rgb(6, 6, 14);"> ABSENT</B></p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="{% url 'student_view_attendance' %}" class="small-box-footer">More info <i
                  class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3 style="color:rgb(6, 6, 14);">{{ attendance_present }}</h3>

                <p><B style="color:rgb(6, 6, 14);"> PRESENT</B></p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="{% url 'student_view_attendance' %}" class="small-box-footer">More info <i
                  class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3 style="color:rgb(6, 6, 14);">{{ subjects }}</h3>

                <p><B style="color:rgb(6, 6, 14);">TOTAL SUBJECT</B></p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">&nbsp;</a>
            </div>
          </div>




          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-default">
              <div class="inner">
                <h3 style="color:rgb(6, 6, 14);">{{ notice_total }}</h3>

                <p> <B style="color:rgb(6, 6, 14);">NEW NOTIFICATION</B></p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">&nbsp;</a>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3 style="color:rgb(6, 6, 14);">{{ pending }}</h3>

                <p><B style="color:rgb(6, 6, 14);">PENDING AMOUNT</B></p>
              </div>
            </div>


            <!-- ./col -->
          </div>


        </div>
      </div>
    </section>
    <!-- /.content -->






    {% endblock main_content %}