{% extends 'logn/Student_template/base_template.html' %}
{% block custom_css %}
<style>
.col-lg-3.attendance_div_red {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f44336;
    border: 10px solid white;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    box-shadow: 1px 1px 1px grey;
    margin-top: 10px;
    margin-bottom: 10px;
}
.col-lg-3.attendance_div_green {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #388e3c;
    border: 10px solid white;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    box-shadow: 1px 1px 1px grey;
    margin-top: 10px;
    margin-bottom: 10px;
}
</style>
{% endblock custom_css %}
{% block page_title %}
<b>ATTENDANCE DATA</b>
{% endblock page_title %}
{% block main_content %}
  {%load static %}

    <!-- Main content -->
    
    <link rel="stylesheet" href="{%static 'css/newformdesign.css'%}">

    <!-- Main content -->
    <div class="container register-form">

      <div class="form">
        <div class="note">
          
        </div>
        <div class="form-content">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group" id="xyz">
              
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                <div class="card-body">
                    <div class="row">
                    {% if attendance_reports %}
                    {% for attendance_report in attendance_reports %}
                       {% if attendance_report.status == True %}
                        <div class="col-lg-3 attendance_div_green">
                            <b>Date : {{ attendance_report.attendance_id.attendance_date }}</b>
                            <br>
                            <b>[ Status : Present ]</b>
                        </div>
                        {% else %}
                        <div class="col-lg-3 attendance_div_red">
                            <b>Date : {{ attendance_report.attendance_id.attendance_date }}</b>
                            <br>
                            <b>[ Status : Absent ]</b>
                        </div>
                        {% endif %}
                    {% endfor %}
                    {% else %}
                        <div class="alert alert-danger text-center">No Attendance Data Found!</div>
                     {% endif %}
                    </div>
                </div>
                </div>
          </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}
