{% extends 'logn/Homeloginbase.html' %}
{% load static %}
{% block main_content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{%static 'css/footer.css'%}" >
  
    <link rel="stylesheet" href="{%static 'css/contact.css'%}" >
</head>
<h2><center><b>CONTACT US</b></center></h2>

<form role="form" action="/contact_save" method="post">
    {% csrf_token %}     
    <input name="name" type="text" class="feedback-input" placeholder="Name" />   
    <input name="email" type="text" class="feedback-input" placeholder="Email" />
    <textarea name="comment" class="feedback-input" placeholder="Comment"></textarea>
    <input type="submit" value="SUBMIT"/>
  </form>

    {% endblock main_content %}