{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

   
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static%}
    <link rel="stylesheet" href="{%static 'css/footer.css'%}" >
    <link rel="stylesheet" href="{%static 'css/home.css'%}" >
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap.js' %}">

    <link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}">
   <link rel="stylesheet" href="{% static 'js/jquery.js' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      
    <div class="header-outer"></div>

        <div class="header">
        <div class="header-left">
        <div class="header-left-logo"><a href="http://www.nielit.gov.in/"><img alt="NIELIT Logo" src="http://nielit.gov.in/sites/all/themes/berry/images/NIELIT-Logo.png" height="90" width="110"/></a></div>
        <div class="header-left-text">
        <p class="hindi">राष्ट्रीय इलेक्ट्रॉनिकी एवं सूचना प्रौद्योगिकी संस्थान 
        <span style="margin-left:-7px;">,</span><span style="margin-left:3px;">गुवाहाटी</span> </p>
        <p>National Institute of Electronics & Information Technology<span style="margin-left:0px;">,</span><span style="margin-left:5px;">Guwahati</span></p>
        </div>
        <div class="clear"></div>
        </div>   
        </div> 
    </div>     
</head>
<body>



    <!--Navigation-->

    
    
    <div class="topnav">
        <a href="{% url 'login' %}"><b>LOGIN</b></a>
        <a href="{% url 'contact' %}"><b>CONTACT</b></a>
        
        <a href="{% url 'notice_list' %}"><b>NOTIFICATION</b></a>
        
        <a href="{% url 'about' %}"><b>ABOUT</b></a>
        <a class="active" href="{% url 'home' %}"><b>HOME</b></a>
        
      </div>

      <div class="text">
       <H4><b> <center>STUDENT MANAGEMENT SYSTEM</center></b>
</H4>    
   
            
<!---Image Slider--> 
             
            
           
            
            {% block main_content %} {% endblock main_content %}
        </div>
    
       

<!---Footer-->
<footer id="footer">
    <div class="container-fluid padding">
      
        <div class="row text-center">
            <div class="col-md-4">
                <hr class="light">
                <p>0361-*******</p>
                <p>email@myemail.com</p>
               
            </div>
            <div class="col-md-4">
                <hr class="light">
                <p>About Us</p>
                <p>Contact </p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <p>Partnership</p>
                <p>Act and Rules </p>
            </div>
        </div>
    </div>
</footer>


</body>
</html>