{%load static %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="{% static "img/avatar.png" %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light"><h5><B>ADMIN HOME</B></h5></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static "img/default.png" %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block"><h5 style="color:rgb(230, 179, 15)";> <B>{{ user.username }} LOGIN</B></h5></a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          
               <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                  <!-- Add icons to the links using the .nav-icon class
                       with font-awesome or any other icon font library -->
                  <li class="nav-item" >
                    <li class="nav-item">
                      <a href="/homeadmin_template" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p><b>HOME</b></p>
                      </a>
                    </li>
                      
                  <li class="nav-item">
                    <a href="/add_faculty" class="nav-link">
                      <i class="nav-icon fas fa-th"></i>
                      <p><b>FACULTY</b></p>
                    </a>
                  </li>
                  
                    <li class="nav-item">
                      <a href="/add1" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p><b>STUDENT</b></p>
                      </a>
                    </li>

                  
                  <li class="nav-item">
                    <a href="/add_dept" class="nav-link">
                      <i class="nav-icon fas fa-th"></i>
                      <p> <b>DEPARTMENT</b></p>
                    </a>
                  </li>
        
                  <li class="nav-item">
                    <a href="/add_course" class="nav-link ">
                      <i class="nav-icon fas fa-th"></i>
                      <p>
                     <b> COURSE</b>
                       
                      </p>
                    </a>
                  </li>  
         <!----        <li class="nav-item">
                    <a href="/dept_view" class="nav-link ">
                      <i class="nav-icon fas fa-th"></i>
                      <p>
                    View Department
                       
                      </p>
                    </a>-->
                  </li>  
                    <li class="nav-item">
                    <a href="/add_sub" class="nav-link ">
                      <i class="nav-icon fas fa-th"></i>
                      <p>
                      <b>SUBJECT</b>
                        
                      </p>
                    </a>
                  </li>

          <li class="nav-item">
            <a href="/noticeinsert" class="nav-link ">
              <i class="nav-icon fas fa-th"></i>
              <p>
                <b>NOTIFICATION</b>
               
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'manage_session' as manage_session %}
            <a href= "/manage_session" class="nav-link ">
              <i class="nav-icon fas fa-th"></i>
              <p>
              <b>  MANAGE YEAR</b>
               
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin_set_fees" class="nav-link ">
              <i class="nav-icon fas fa-th"></i>
              <p>
             <b>COURSE FEE</b> 
                
              </p>
              </a>
            </li>
          <li class="nav-item">
            <a href="/admin_insert_fees" class="nav-link ">
              <i class="nav-icon fas fa-th"></i>
              <p>
            <b>  FEE RECORD</b>
                
              </p>
            </a>
          </li>

   <!----     <li class="nav-item">
            <a href="/view_staff" class="nav-link ">
              <i class="nav-icon fas fa-th"></i>
              <p>
             VIEW STAFF
              
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/student_view" class="nav-link ">
              <i class="nav-icon fas fa-th"></i>
              <p>
             VIEW STUDENT
              
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/subject_view" class="nav-link ">
              <i class="nav-icon fas fa-th"></i>
              <p>
             VIEW SUBJECT
                
              </p>
            </a>
          </li>-->

         


          <li class="nav-item">
            <a href="feedbackview" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
               <b> STUDENT FEEDBACK </b>
               
              </p>
            </a>
          </li>
         

       <!----   <li class="nav-item">
            <a href="/courseview" class="nav-link ">
              <i class="nav-icon fas fa-th"></i>
              <p>
             VIEW COURSE
               
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/viewnotification" class="nav-link ">
              <i class="nav-icon fas fa-th"></i>
              <p>
             VIEW NOTICE
               
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/viewnotification" class="nav-link ">
              <i class="nav-icon fas fa-th"></i>
              <p>
             RESULT
                
              </p>
            </a>
          </li>--->
          <li class="nav-item">
            <a href="/contact_view" class="nav-link ">
              <i class="nav-icon fas fa-th"></i>
              <p>
            <b> CONTACT PEOPLE</b>
                
              </p>
            </a>
          </li>
          
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>