{% extends 'logn/Homeloginbase.html' %}
{% block main_content %}
{%load static%}

<html lang="en">
    <link rel="stylesheet" href="{%static 'css/footer.css'%}" >
    <link rel="stylesheet" href="{%static 'css/aboutstyle.css'%}" >


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  

    


    
       <center><h2><b>NOTIFICATION</b></h2></center> 
        
     


<div class="container">
    
    <div class="container mt-5">
<div class="alert alert-danger">

<h4>{{notice.msg}}</h4>
<h6>{{notice.cr_date}}</h6>
<!--<h6><right><a href='/noticelist/'> Back</a></h6>-->
  

</div>
{% endblock main_content %}
